{% extends 'base.html' %}
{% block custom_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}
{% load crispy_forms_filters %}

{% block title %}
    تفاصيل نتائج المستخدم
{% endblock %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div>
        <h2>
            صفحة تفاصيل نتائج المستخدم {{ data.user.first_name }}
        </h2>
        <hr>
    </div>
{% endblock %}
{% block content %}
    <div id="accordion" class="rtl-style">
        {% for date, points in data.points.items %}
            <!-- Accordion card -->
            <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="heading">
                    <a class="details-collapse" data-toggle="collapse" data-parent="#accordionEx"
                       href="#collapse{{ forloop.counter }}"
                       aria-expanded="true"
                       aria-controls="collapse{{ forloop.counter }}">
                        <h5 class="mb-0" style="float: right">
                            نتائج شهر {{ date }} <i class="fas fa-angle-down rotate-icon"></i>
                        </h5>
                        <h6 style="float: left">
                            المجموع الشهري: {{data.total_monthly|get_item:date |floatformat:"-2"}}
                        </h6>
                    </a>
                </div>
                <!-- Card body -->
                <div id="collapse{{ forloop.counter }}" class="collapse show" role="tabpanel"
                     aria-labelledby="heading{{ forloop.counter }}"
                     data-parent="#accordionEx">
                    <div class="card-body">
                        <table class="table table-hover table-borderless text-center">
                            <thead>
                            <tr>
                                <th scope="col">العمل</th>
                                <th scope="col">النقاط</th>
                                <th scope="col">تفاصيل</th>
                                <th scope="col">اليوم</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for point in points %}
                                <tr>
                                    <td>{{ point.type.label }}</td>
                                    <td>{{ point.value|floatformat:"-2" }}</td>
                                    <td>{{ point.details }}</td>
                                    <td>{{ point.record_date|date:"d" }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
        {% endfor %}
    </div>
{% endblock %}
{% comment %}





{% if type.form_type == 'number' %}

                    {% endif %}
                    {% if point.type.form_type == 'check_box' %}
                    {% endif %}
                    {% if point.type.form_type == 'book' %}
                    {% endif %}
                    {% if type.form_type == 'quran' %}
                    {% endif %}
                    {% if point.type.form_type == 'media' %}
                    {% endif %}
                    {% if point.type.form_type == 'other' %}
                    {% endif %}{% endcomment %}
