{% extends 'base.html' %}
{% block custom_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}
{% load crispy_forms_filters %}

{% block title %}
    تفاصيل نتائج المتابعين
{% endblock %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div>
        <h2>
            صفحة تفاصيل نتائج المتابَعين
        </h2>
        <hr>
    </div>
{% endblock %}
{% block content %}
    <div class="">
        <div class="text-right float-right"><h4>متوسط نقاط المجموعة: {{ group_avg|floatformat:"-2" }}</h4></div>
        <div class="text-left float-left">
            <label for="">اختر شخصاً: </label>
            <select id="fellows">
                <option value="">----</option>
                {% for fellow in fellows %}
                    <option value="{{ fellow.username }}">{{ fellow.first_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <table class="table table-hover table-borderless text-center">
        <thead>
        <tr>
            <th scope="col">اليوم الرمضاني</th>
            <th scope="col">مجموع النقاط اليومي</th>
            <th scope="col"> تفاصيل النقاط</th>
        </tr>
        </thead>
        <tbody id="details">

        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#fellows").change(function () {
                let details_table = $('#details');
                details_table.empty()
                details_table.append('<tr><td colspan = "3">جاري تحميل بيانات المستخدم...</td></tr>');
                var fellow_username = $("#fellows").val();
                $.ajax({
                    url: "/fellows_details",
                    type: "GET",
                    data: {'username': fellow_username},
                    success: function (json) {
                        details_table.empty()
                        let days = json.length
                        if (days === 0) {
                            details_table.append('<tr><td colspan = "3">المستخدم لم يملأ أي بيانات بعد</td></tr>');
                        }
                        for (let i = 0; i < days; i++) {
                            let row = $('<tr>');
                            let cell1 = $('<td>').text(json[i]['day']);
                            let cell2 = $('<td>').text(json[i]['total']);
                            let details = json[i]['details']
                            let details_text = details[0]
                            for (let j = 1; j < details.length; j++) {
                                details_text += ' ، ' + details[j]
                            }

                            details_text = ' <a data-toggle="collapse" href="#collapse' + i +
                                '" aria-expanded="false" aria-controls="collapse' + i +
                                '">إظهار التفاصيل</a>' +
                                '<div class="collapse" id="collapse' + i +
                                '">' + details_text +'</div>';

                            let cell3 = $('<td>').append(details_text);
                            $(row).append(cell1, cell2, cell3);
                            details_table.append(row);
                        }
                        let sum_user = 0;
                        $('#details tr td:nth-child(2)').each(function () {
                            sum_user += parseInt($(this).text())
                        })
                        $('#details').append('<tr><td colspan="3">' + 'مجموع المستخدم الكلي: ' + sum_user + '</td></tr>');
                    },
                    error: function (request, status, error) {
                        details_table.empty()
                        details_table.append('<tr><td colspan = "3">خطأ أثناء جلب بيانات هذا المستخدم</td></tr>');
                    }
                });
            });
        });
    </script>
{% endblock %}