{% extends 'base.html' %}
{% block custom_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}
{% load crispy_forms_filters %}

{% block title %}
    صفحة تسجيل بيانات جديدة
{% endblock %}
{% load crispy_forms_tags %}

{% block page_header %}
    تسجيل بيانات جديدة للمستخدم {{ data.user.first_name }}
{% endblock %}
{% block content %}
    <form method="post" class="form-group">
        {% csrf_token %}
        <div class="float-left">
            <label for="">اختر تاريخاً: </label>
            <input required="required" class="date-picker" type="date" id="start" name="trip-start"
                   min="2020-10-05">
        </div>
        {% for type in data.points_types %}
            <div dir="ltr">
                <label>{{ type.name }}</label>
                <div class="input-group h-50">
                    <button class="btn btn-secondary btn-minuse input-group-btn form-control" type="button">-</button>
                    <input name="{{ type.name }}" type="text" readonly="readonly"
                           class="value-text-box form-control no-padding add-color text-center height-30" maxlength="3"
                           value="{{ type.default_value }}"
                           min="0" max="50"/>
                    <button class="btn btn-primary btn-pluss input-group-btn form-control" type="button">+</button>
                </div>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-secondary btn-lg btn-block">إدخال البيانات</button>
            </div>
        {% endfor %}
    </form>
    <script>
        $('.btn-minuse').on('click', function () {
            var text_field = $(this).siblings('input')
            var text_val = parseInt(text_field.val())
            if (text_val <= 0) {
                this.setAttribute(disabled)
            } else
                text_field.val(text_val - 1)
        })

        $('.btn-pluss').on('click', function () {
            var text_field = $(this).siblings('input')
            var text_val = parseInt(text_field.val())
            if (text_val >= 50) {
                this.setAttribute(disabled)
            } else
                text_field.val(text_val + 1)
        })

        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            startDate: '-3d'
        });
    </script>
{% endblock %}