{% extends 'base.html' %}
{% block title %}
    صفحة ترتيب الأوائل على مسابقة {{ data.competition.name }}
{% endblock %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div>
        <h2>
            صفحة ترتيب الأوائل على مسابقة {{ data.competition.name }}
        </h2>
        <hr>
    </div>
{% endblock %}
{% block content %}
    <table class="table table-hover table-borderless text-center">
        <thead>
        <tr>
            <th scope="col">الترتيب</th>
            <th scope="col">الاسم</th>
{#            <th scope="col">النقاط</th>#}
        </tr>
        </thead>
        <tbody>
        {% for person in data.top_ten %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ person.first_name }}</td>
{#                <td>{{ person.total_points }}</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
