{% extends 'base.html' %}
{% block content %}
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>عذراً</h1>
                    <h2>ليس لديك الصلاحيات لدخول هذه الصفحة</h2>
                    <div class="error-details">
                        الرجاء تسجيل الدخول في حال وجود حساب لديك لعرض محتوى الصفحة
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}