{% extends 'base.html' %}
{% block content %}
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>أسامة أبو حمدان</h1>
                    <h2>سيتم تحديث الصفحة لاحقاً</h2>
                    <div class="error-details">
                        بكفي تضييع وقت هون ، روح سويلك حساب وخذلك لفة بالموقع :)
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}