{% extends 'base.html' %}
{% block content %}
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>أحد مبرمجي فريق صناع التغيير</h1>
                    <h2>لصالح مسابقة نور الهلال</h2>
                    <div class="error-details">
                        أعانكم الله على طاعته وتقبل منكم صالح الأعمال.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}