{% extends 'base.html' %}
{% block content %}
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>أحد مبرمجي الشباب المسلم</h1>
                    <h2>لصالح مراكز القرآن والأسر المسلمة والمهتمين من المسلمين في نصرة هذا الدين ورفعة المسلمين</h2>
                    <div class="error-details">
                        أعانكم الله على طاعته وتقبل منكم صالح الأعمال ، ولا تنسونا من صالح الدعاء
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}