{% extends 'base.html' %}
{% block content %}
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>عذراً</h1>
                    <h2>لقد تم تفعيل وضع القراءة فقط لهذه المسابقة</h2>
                    <div class="error-details">
                        <p>لتسجيل المزيد من النقاط يرجى التواصل مع مشرفك</p>
                        <p>كلّ عام وأنتم بخير</p>
                        <p><a href="/details">للذهاب إلى نتائجك</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}