<!DOCTYPE html>
<html tml dir="rtl" lang="ar">
<head>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block custom_head %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
    <title>
        {% block title %}
            المسابقة الرمضانية
        {% endblock %}
    </title>
</head>
<body class="main h-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">الصفحة الرئيسية</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse show" id="navbarColor03">
        {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                </li>
                <li class="nav-item}">
                    <a class="nav-link" href="/details">تفاصيل نتائج المستخدم</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/score">تسجيل بيانات جديدة</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">حول</a>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {{ data.about.active }}">
                    <a class="nav-link" href="/about">حول</a>
                </li>
            </ul>
            <div class="form-inline mr-auto">
                <a class="btn btn-outline-light my-2 my-sm-0 btn-md " href="/login">تسجيل الدخول</a>
                <a class="btn btn-outline-light my-2 my-sm-0 btn-md mr-3" href="/register">التسجيل</a>
            </div>
        {% endif %}
    </div>
</nav>
<div id="content" class="container align-items-center">
    <div class="container rtl-style">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</div>
{% comment %}<footer id="sticky-footer" class="sticky-bottom py-4 bg-dark text-white-50">
    <div class="container text-center" style="height: 100%">
        <small style="color: aliceblue">Copyright &copy; Osama AbuHamdan <span id="year"></span></small>
    </div>
</footer>{% endcomment %}
{#<script>#}
{#    document.getElementById("year").innerHTML = new Date().getFullYear();#}
{#</script>#}
</body>
</html>