{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    تسجيل الدخول
{% endblock %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div>
        <h2>
            تسجيل الدخول
        </h2>
        <hr>
    </div>
{% endblock %}
{% block content %}
    <form method="post" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-secondary btn-lg btn-block">دخول</button>
    </form>

    <script>
        $(document).ready(function () {
            $('.messages').delay(5000).fadeOut();
        });
    </script>
{% endblock %}