{% extends 'admins/base.html' %}
{% block page_header %}
    <div>
        <h2>
            العمليات المتاحة
        </h2>
        <hr>
    </div>
{% endblock %}
{% block content %}
    <div class="list-group">
        <a href="/admins/delete_points" class="list-group-item list-group-item-action">حذف نقاط المستخدم</a>
        <a href="/admins/archive_users_points" class="list-group-item list-group-item-action">أرشفة بيانات المسابقة</a>
        <a href="/admins/generate_excel" class="list-group-item list-group-item-action">إنشاء ملف Excel لبيانات المسابقة</a>
    </div>
{% endblock %}