.sticky-bottom {
    position: sticky;
    height: 40px;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

nav {
    margin-bottom: 10px;
}


html, body {
    height: 100%;
    font-family: 'Cairo', sans-serif !important;
    direction: rtl !important;
}

a {
    font-family: 'Cairo', sans-serif !important;
}

.rtl-style {
    text-align: right;
}
